In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("data/region/vietnam/weather.csv", header=[0, 1], index_col=0)
df2 = pd.read_csv("data/region/vietnam/cities.csv")
df3 = pd.read_csv("data/region/vietnam/air_quality.csv", header=[0, 1], index_col=0)

In [14]:
#convert to normal index
dfs = df.stack(level=0).reset_index()
dfs.rename(columns={'level_1': 'location'}, inplace=True)

df3s = df3.stack(level=0).reset_index()
df3s.rename(columns={'level_1': 'location'}, inplace=True)

C:\Users\KHAI\AppData\Local\Temp\ipykernel_12748\2742325622.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  dfs = df.stack(level=0).reset_index()
C:\Users\KHAI\AppData\Local\Temp\ipykernel_12748\2742325622.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df3s = df3.stack(level=0).reset_index()

## Data exploration

In [15]:
dfs.columns

Index(['time', 'location', 'temperature_2m', 'relative_humidity_2m',
       'dew_point_2m', 'rain', 'snowfall', 'surface_pressure', 'cloud_cover',
       'wind_speed_10m', 'wind_direction_10m'],
      dtype='object')

In [16]:
dfs.info

<bound method DataFrame.info of                      time                location  temperature_2m  \
0        2020-11-28T00:00       Biên Hòa, Vietnam            25.2
1        2020-11-28T00:00  Buôn Ma Thuột, Vietnam            21.7
2        2020-11-28T00:00       Bạc Liêu, Vietnam            25.0
3        2020-11-28T00:00      Bắc Giang, Vietnam            16.4
4        2020-11-28T00:00        Bắc Kạn, Vietnam            15.1
...                   ...                     ...             ...
2165242  2024-10-30T00:00         Đà Lạt, Vietnam            17.0
2165243  2024-10-30T00:00        Đà Nẵng, Vietnam            24.6
2165244  2024-10-30T00:00        Đông Hà, Vietnam            22.4
2165245  2024-10-30T00:00       Đồng Hới, Vietnam            21.6
2165246  2024-10-30T00:00      Đồng Xoài, Vietnam            24.1

         relative_humidity_2m  dew_point_2m  rain  snowfall  surface_pressure  \
0                        80.0          21.4   0.0       0.0            1010.4
1                        88.0          19.7   0.0       0.0             960.9
2                        89.0          23.1   0.0       0.0            1010.8
3                        71.0          11.0   0.0       0.0            1022.3
4                        80.0          11.6   0.0       0.0            1002.8
...                       ...           ...   ...       ...               ...
2165242                  90.0          15.4   0.0       0.0             852.9
2165243                  87.0          22.3   0.0       0.0            1006.9
2165244                  92.0          21.0   0.7       0.0            1008.6
2165245                  89.0          19.8   3.7       0.0            1008.6
2165246                  92.0          22.7   0.0       0.0            1001.0

         cloud_cover  wind_speed_10m  wind_direction_10m
0                7.0             7.7                41.0
1               59.0             9.7                90.0
2               14.0             8.8                19.0
3              100.0            13.2                22.0
4               91.0            15.3                43.0
...              ...             ...                 ...
2165242         53.0            14.1               292.0
2165243         85.0             6.4               281.0
2165244        100.0            20.2               291.0
2165245        100.0            27.6               299.0
2165246         13.0             1.5               315.0

[2165247 rows x 11 columns]>

In [17]:
df2.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')

In [18]:
df3s.head(100)

,time,location,co,no2,o3,so2,pm2_5,pm10
0,2020-11-28 00:00:00,"Biên Hòa, Vietnam",363.83,6.51,33.26,3.76,8.60,12.78
1,2020-11-28 00:00:00,"Buôn Ma Thuột, Vietnam",473.98,7.88,30.76,4.17,14.06,17.11
2,2020-11-28 00:00:00,"Bạc Liêu, Vietnam",547.41,6.94,49.35,1.62,28.24,39.26
3,2020-11-28 00:00:00,"Bắc Giang, Vietnam",554.09,10.11,22.71,5.66,24.91,28.58
4,2020-11-28 00:00:00,"Bắc Kạn, Vietnam",427.25,4.50,21.64,1.36,17.84,19.46
...,...,...,...,...,...,...,...,...
95,2020-11-28 01:00:00,"Phan Thiết, Vietnam",327.11,2.25,13.05,0.98,11.61,13.79
96,2020-11-28 01:00:00,"Phủ Lý, Vietnam",741.01,21.42,15.38,16.93,34.28,41.27
97,2020-11-28 01:00:00,"Pleiku, Vietnam",554.09,2.51,50.78,2.38,34.99,35.41
98,2020-11-28 01:00:00,"Quy Nhơn, Vietnam",397.21,2.04,68.67,1.36,25.19,26.18
99,2020-11-28 01:00:00,"Quảng Ngãi, Vietnam",407.22,1.80,101.57,2.53,33.78,36.92

In [19]:
dfs[['province', 'country']] = dfs['location'].str.split(',', expand=True)

In [20]:
dfs = dfs.drop(columns=['location'])

In [21]:
df3s[['province', 'country']] = df3s['location'].str.split(',', expand=True)
df3s = df3s.drop(columns=['location'])

In [22]:
df3s.head()

,time,co,no2,o3,so2,pm2_5,pm10,province,country
0,2020-11-28 00:00:00,363.83,6.51,33.26,3.76,8.60,12.78,Biên Hòa,Vietnam
1,2020-11-28 00:00:00,473.98,7.88,30.76,4.17,14.06,17.11,Buôn Ma Thuột,Vietnam
2,2020-11-28 00:00:00,547.41,6.94,49.35,1.62,28.24,39.26,Bạc Liêu,Vietnam
3,2020-11-28 00:00:00,554.09,10.11,22.71,5.66,24.91,28.58,Bắc Giang,Vietnam
4,2020-11-28 00:00:00,427.25,4.50,21.64,1.36,17.84,19.46,Bắc Kạn,Vietnam

In [27]:
dfs_admin = dfs.merge(df2[['city', 'admin_name']], right_on='city', left_on='province', how='left')
dfs_admin.drop(columns='province', inplace=True)
dfs_admin.rename(columns={'admin_name': 'province'}, inplace=True)

In [28]:
df3s_admin = df3s.merge(df2[['city', 'admin_name']], right_on='city', left_on='province', how='left')
df3s_admin.drop(columns='province', inplace=True)
df3s_admin.rename(columns={'admin_name': 'province'}, inplace=True)

In [29]:
dfs_admin.to_csv("data/region/vietnam/we2.csv")
df3s_admin.to_csv("data/region/vietnam/ar2.csv")