In [114]:
import requests
import pandas as pd
import csv
import pycountry

In [115]:
API_KEY = '92223e2767b50cde8ee665fe885b0021'

In [116]:
def geocode_address(city):
    small_caps = ['Vatican City', 'Longyearbyen', 'Mariehamn', 'Saint Helier', 'Douglas', 'St Peter Port']
    if city in small_caps:
        return
    # Form the API request URL
    url = f'http://api.openweathermap.org/geo/1.0/direct?q={city}&limit=5&appid=bd5e378503939ddaee76f12ad7a97608'
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        data = response.json()
        # Extract relevant information
        result = data[0]
        lat = "%.4f"% result['lat']
        lon = "%.4f"% result['lon']
        ct_code = result['country']
        country = country = pycountry.countries.get(alpha_2 = ct_code).name
        return [city, lat, lon, ct_code, country] 
            # Return the details
    else:
        return {'error': f'Request failed with status code {response.status_code}'}

In [117]:
username = 'LucasLocker222'
url = f'http://api.geonames.org/countryInfoJSON?username={username}'

response = requests.get(url)
data = response.json()

countries = []
capitals = []
continents = []
if 'geonames' in data:
    transcontinental_cnt = ['Türkiye', 'Georgia', 'Armenia', 'Azerbaijan']
    for item in data['geonames']:
        country_name = item.get('countryName')
        capital_name = item.get('capital')
        continent_name = item.get('continent')
        if country_name and capital_name and continent_name:
            countries.append(country_name)
            capitals.append(capital_name)
            continents.append(continent_name)

df = pd.DataFrame({'city': capitals, 'country': countries, 'continent': continents})
df['country'] = df['country'].str.strip()
small_countries = ['Åland', 'Guernsey', 'Jersey', 'Svalbard and Jan Mayen', 'Holy See (Vatican City State)', 'Isle of Man']
final_df = df[(df['continent'] == 'EU') | 
               (df['country'].isin(transcontinental_cnt)) & 
               (~df['country'].isin(small_countries))]
final_df.to_csv('countries.csv', index = False)

In [118]:
csv_file_path = 'european_countries.csv'

# Open the file in write mode
with open(csv_file_path, mode='w', newline='', encoding = "utf-16") as file:
    writer = csv.writer(file)
    cities = final_df['city']
    writer.writerow(['city','lat','lon','ct_code', 'country'])
    for city in cities:
        try:
            writer.writerow(map(str, geocode_address(city)))
        except Exception as e:
            print()

In [119]:
new_data = pd.read_csv('european_countries.csv', encoding= "utf-16")

In [120]:
new_data

                city      lat      lon ct_code                 country
0   Andorra la Vella  42.5069   1.5212      AD                 Andorra
1             Tirana  41.3305  19.8256      AL                 Albania
2            Yerevan  40.1776  44.5126      AM                 Armenia
3             Vienna  48.2084  16.3725      AT                 Austria
4               Baku  40.3756  49.8328      AZ              Azerbaijan
5           Sarajevo  43.8520  18.3867      BA  Bosnia and Herzegovina
6           Brussels  50.8466   4.3517      BE                 Belgium
7              Sofia  42.6977  23.3217      BG                Bulgaria
8              Minsk  53.9025  27.5618      BY                 Belarus
9               Bern  46.9485   7.4522      CH             Switzerland
10           Nicosia  35.1749  33.3639      CY                  Cyprus
11            Prague  50.0875  14.4213      CZ                 Czechia
12            Berlin  52.5170  13.3889      DE                 Germany
13        Copenhagen  55.6867  12.5701      DK                 Denmark
14           Tallinn  59.4372  24.7454      EE                 Estonia
15            Madrid  40.4167  -3.7036      ES                   Spain
16          Helsinki  60.1675  24.9427      FI                 Finland
17          Tórshavn  62.0120  -6.7680      FO           Faroe Islands
18             Paris  48.8589   2.3200      FR                  France
19            London  51.5073  -0.1276      GB          United Kingdom
20           Tbilisi  41.6935  44.8014      GE                 Georgia
21         Gibraltar  36.1408  -5.3541      GI               Gibraltar
22            Athens  37.9839  23.7283      GR                  Greece
23            Zagreb  45.8426  15.9622      HR                 Croatia
24          Budapest  47.4980  19.0404      HU                 Hungary
25            Dublin  53.3498  -6.2603      IE                 Ireland
26         Reykjavik  64.1460 -21.9422      IS                 Iceland
27              Rome  41.8933  12.4829      IT                   Italy
28             Vaduz  47.1393   9.5228      LI           Liechtenstein
29           Vilnius  54.6870  25.2829      LT               Lithuania
30        Luxembourg  49.6113   6.1298      LU              Luxembourg
31              Riga  56.9494  24.1052      LV                  Latvia
32            Monaco  43.7311   7.4198      MC                  Monaco
33          Chișinău  47.0245  28.8323      MD    Moldova, Republic of
34         Podgorica  42.4415  19.2621      ME              Montenegro
35            Skopje  41.9961  21.4316      MK         North Macedonia
36          Valletta  35.8990  14.5137      MT                   Malta
37         Amsterdam  52.3728   4.8936      NL             Netherlands
38              Oslo  59.9133  10.7390      NO                  Norway
39            Warsaw  52.2320  21.0067      PL                  Poland
40            Lisbon  38.7078  -9.1366      PT                Portugal
41         Bucharest  44.4361  26.1027      RO                 Romania
42          Belgrade  44.8178  20.4569      RS                  Serbia
43            Moscow  55.7504  37.6175      RU      Russian Federation
44         Stockholm  59.3251  18.0711      SE                  Sweden
45         Ljubljana  46.0500  14.5069      SI                Slovenia
46        Bratislava  48.1435  17.1083      SK                Slovakia
47        San Marino  43.9364  12.4467      SM              San Marino
48            Ankara  39.9208  32.8540      TR                 Türkiye
49              Kyiv  50.4500  30.5241      UA                 Ukraine

In [121]:
a = 1.85738578
s = float("%.4f" % a)
print(type(s))
print(s)

<class 'float'>
1.8574