In [2]:
import pandas as pd

In [6]:
df1 = pd.read_csv("data/countries/worldcities.csv")
capltals = df1[df1["capital"] == "primary"]
capltals

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
5,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,24922000.0,1608618140
8,Seoul,Seoul,37.5600,126.9900,"Korea, South",KR,KOR,Seoul,primary,23016000.0,1410836482
9,Mexico City,Mexico City,19.4333,-99.1333,Mexico,MX,MEX,Ciudad de México,primary,21804000.0,1484247881
...,...,...,...,...,...,...,...,...,...,...,...
47530,Ngerulmud,Ngerulmud,7.5006,134.6242,Palau,PW,PLW,Melekeok,primary,271.0,1585525081
47592,Adamstown,Adamstown,-25.0667,-130.1000,Pitcairn Islands,PN,PCN,NaN,primary,47.0,1612000000
47671,Plymouth,Plymouth,16.7064,-62.2158,Montserrat,MS,MSR,Saint Anthony,primary,NaN,1500711935
47843,King Edward Point,King Edward Point,-54.2833,-36.5000,South Georgia And South Sandwich Islands,GS,SGS,NaN,primary,NaN,1239048838
47867,Charlotte Amalie,Charlotte Amalie,18.3420,-64.9331,U.S. Virgin Islands,VI,VIR,Virgin Islands,primary,NaN,1850037473

In [10]:
df2 = pd.read_csv("data/countries/countries.csv")
europe_country = df2[df2["continentName"] == "Europe"]["isoAlpha3"]
europe_country

0      AND
5      ALB
11     AUT
14     ALA
16     BIH
19     BEL
21     BGR
35     BLR
42     CHE
54     CYP
55     CZE
56     DEU
58     DNK
63     EST
67     ESP
69     FIN
73     FRO
74     FRA
76     GBR
80     GGY
82     GIB
88     GRC
97     HRV
99     HUN
101    IRL
103    IMN
108    ISL
109    ITA
110    JEY
128    LIE
132    LTU
133    LUX
134    LVA
137    MCO
138    MDA
139    MNE
143    MKD
152    MLT
165    NLD
166    NOR
178    POL
183    PRT
188    ROU
189    SRB
190    RUS
196    SWE
199    SVN
200    SJM
201    SVK
203    SMR
229    UKR
235    VAT
244    XKX
Name: isoAlpha3, dtype: object

In [13]:
europe_capitals = capltals[capltals["iso3"].isin(europe_country.values)]
europe_capitals

(51, 11)

In [14]:
europe_capitals.to_csv("data/region/europe/cities.csv", index=False)

In [16]:
df = pd.read_csv("data/region/europe/cities.csv")
df

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Moscow,Moscow,55.7558,37.6172,Russia,RU,RUS,Moskva,primary,17332000.0,1643318494
1,London,London,51.5072,-0.1275,United Kingdom,GB,GBR,"London, City of",primary,11262000.0,1826645935
2,Paris,Paris,48.8567,2.3522,France,FR,FRA,Île-de-France,primary,11060000.0,1250015082
3,Madrid,Madrid,40.4169,-3.7033,Spain,ES,ESP,Madrid,primary,6211000.0,1724616994
4,Berlin,Berlin,52.5200,13.4050,Germany,DE,DEU,Berlin,primary,4890363.0,1276451290
5,Athens,Athens,37.9842,23.7281,Greece,GR,GRC,Attikí,primary,3059764.0,1300715560
6,Budapest,Budapest,47.4925,19.0514,Hungary,HU,HUN,Budapest,primary,2997958.0,1348611435
7,Kyiv,Kyiv,50.4500,30.5233,Ukraine,UA,UKR,"Kyiv, Misto",primary,2952301.0,1804382913
8,Rome,Rome,41.8933,12.4828,Italy,IT,ITA,Lazio,primary,2748109.0,1380382862
9,Bucharest,Bucharest,44.4325,26.1039,Romania,RO,ROU,Bucureşti,primary,2412530.0,1642414442
10,Vienna,Vienna,48.2083,16.3725,Austria,AT,AUT,Wien,primary,2223236.0,1040261752
11,Stockholm,Stockholm,59.3294,18.0686,Sweden,SE,SWE,Stockholm,primary,2121000.0,1752425602
12,Minsk,Minsk,53.9000,27.5667,Belarus,BY,BLR,Minsk,primary,1995471.0,1112348503
13,Warsaw,Warsaw,52.2300,21.0111,Poland,PL,POL,Mazowieckie,primary,1860281.0,1616024847
14,Sofia,Sofia,42.7000,23.3300,Bulgaria,BG,BGR,Sofia-Grad,primary,1547779.0,1100762037
15,Amsterdam,Amsterdam,52.3728,4.8936,Netherlands,NL,NLD,Noord-Holland,primary,1459402.0,1528355309
16,Copenhagen,Copenhagen,55.6761,12.5683,Denmark,DK,DNK,Hovedstaden,primary,1366301.0,1208763942
17,Helsinki,Helsinki,60.1708,24.9375,Finland,FI,FIN,Uusimaa,primary,1360075.0,1246177997
18,Prague,Prague,50.0875,14.4214,Czechia,CZ,CZE,Praha,primary,1357326.0,1203744823
19,Dublin,Dublin,53.3500,-6.2603,Ireland,IE,IRL,Dublin,primary,1263219.0,1372595407
20,Brussels,Brussels,50.8467,4.3525,Belgium,BE,BEL,Brussels-Capital Region,primary,1235192.0,1056469830
21,Belgrade,Belgrade,44.8200,20.4600,Serbia,RS,SRB,Beograd,primary,1197714.0,1688374696
22,Oslo,Oslo,59.9133,10.7389,Norway,NO,NOR,Oslo,primary,1064235.0,1578324706
23,Riga,Riga,56.9489,24.1064,Latvia,LV,LVA,Rīga,primary,920643.0,1428586192
24,Zagreb,Zagreb,45.8131,15.9775,Croatia,HR,HRV,"Zagreb, Grad",primary,767131.0,1191233290
25,Vilnius,Vilnius,54.6872,25.2800,Lithuania,LT,LTU,Vilniaus Miestas,primary,716856.0,1440887149
26,Chisinau,Chisinau,47.0228,28.8353,Moldova,MD,MDA,Chişinău,primary,702300.0,1498011437
27,Tallinn,Tallinn,59.4372,24.7453,Estonia,EE,EST,Tallinn,primary,614561.0,1233260021
28,Lisbon,Lisbon,38.7253,-9.1500,Portugal,PT,PRT,Lisboa,primary,548703.0,1620619017
29,The Hague,The Hague,52.0800,4.3100,Netherlands,NL,NLD,Zuid-Holland,primary,548320.0,1528799905
30,Skopje,Skopje,41.9961,21.4317,North Macedonia,MK,MKD,Skopje,primary,526502.0,1807600615
31,Valletta,Valletta,35.8983,14.5125,Malta,MT,MLT,Valletta,primary,480134.0,1470574399
32,Bratislava,Bratislava,48.1439,17.1097,Slovakia,SK,SVK,Bratislava,primary,475503.0,1703195001
33,Sarajevo,Sarajevo,43.8564,18.4131,Bosnia and Herzegovina,BA,BIH,"Bosnia and Herzegovina, Federation of",primary,419957.0,1070966777
34,Tirana,Tirana,41.3289,19.8178,Albania,AL,ALB,Tiranë,primary,418495.0,1008162156
35,Nicosia,Nicosia,35.1725,33.3650,Cyprus,CY,CYP,Lefkosía,primary,330000.0,1196944155
36,Ljubljana,Ljubljana,46.0514,14.5061,Slovenia,SI,SVN,Ljubljana,primary,284293.0,1705917455
37,Podgorica,Podgorica,42.4414,19.2628,Montenegro,ME,MNE,Podgorica,primary,173024.0,1499454516
38,Reykjavík,Reykjavik,64.1467,-21.9400,Iceland,IS,ISL,Reykjavík,primary,139875.0,1352327190
39,Bern,Bern,46.9481,7.4475,Switzerland,CH,CHE,Bern,primary,134506.0,1756374318
40,Luxembourg,Luxembourg,49.6117,6.1319,Luxembourg,LU,LUX,Luxembourg,primary,132780.0,1442262731
41,Monaco,Monaco,43.7333,7.4167,Monaco,MC,MCO,NaN,primary,36371.0,1492854256
42,Gibraltar,Gibraltar,36.1400,-5.3500,Gibraltar,GI,GIB,NaN,primary,34003.0,1292385245
43,Saint Helier,Saint Helier,49.1858,-2.1100,Jersey,JE,JEY,NaN,primary,33522.0,1832490253
44,Douglas,Douglas,54.1500,-4.4775,Isle of Man,IM,IMN,NaN,primary,27938.0,1833688345
45,Andorra la Vella,Andorra la Vella,42.5000,1.5000,Andorra,AD,AND,Andorra la Vella,primary,22615.0,1020828846
46,Saint Peter Port,Saint Peter Port,49.4555,-2.5368,Guernsey,GG,GGY,NaN,primary,18958.0,1831991870
47,Tórshavn,Torshavn,62.0000,-6.7833,Faroe Islands,FO,FRO,Tórshavn,primary,13326.0,1234904517
48,Vaduz,Vaduz,47.1410,9.5210,Liechtenstein,LI,LIE,Vaduz,primary,5696.0,1438317747
49,San Marino,San Marino,43.9346,12.4473,San Marino,SM,SMR,San Marino Città,primary,4040.0,1674741947
50,Vatican City,Vatican City,41.9040,12.4530,Vatican City,VA,VAT,NaN,primary,825.0,1336000000